<a href="https://colab.research.google.com/github/Syeda-Eman/40-days-of-Python/blob/main/Day_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Wrangling**

In [15]:
#install libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [16]:
titanic = sns.load_dataset('titanic')
t1 = titanic
t2 = titanic
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [17]:
#simple operations (math operator)
(titanic['age']+1).head(10)

0    23.0
1    39.0
2    27.0
3    36.0
4    36.0
5     NaN
6    55.0
7     3.0
8    28.0
9    15.0
Name: age, dtype: float64

## **Dealing with missing values**

In [18]:
#finding missing values
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [19]:
#use drop.na method
titanic.dropna(subset=['deck'],axis=0, inplace=True)

In [20]:
titanic.isnull().sum()

survived        0
pclass          0
sex             0
age            19
sibsp           0
parch           0
fare            0
embarked        2
class           0
who             0
adult_male      0
deck            0
embark_town     2
alive           0
alone           0
dtype: int64

In [21]:
#remove na from whole dataframe
titanic.dropna().isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

**We have dropped all the missing values but this is not the only and best way to deal with it**

# **Replacing missing values with average**

In [22]:
t1.isnull().sum()

survived        0
pclass          0
sex             0
age            19
sibsp           0
parch           0
fare            0
embarked        2
class           0
who             0
adult_male      0
deck            0
embark_town     2
alive           0
alone           0
dtype: int64

In [23]:
#finding average (mean)
mean = t1['age'].mean
mean

<bound method Series.mean of 1      38.0
3      35.0
6      54.0
10      4.0
11     58.0
       ...
871    47.0
872    33.0
879    56.0
887    19.0
889    26.0
Name: age, Length: 203, dtype: float64>

In [24]:
#replacing nan with mean of the data (updating as well)
t1['age'] = t1['age'].replace(np.nan, mean)

In [25]:
t1.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
deck           0
embark_town    2
alive          0
alone          0
dtype: int64

In [26]:
#know the data type and convert it into the known one
t1.dtypes

survived          int64
pclass            int64
sex              object
age              object
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [27]:
#use this method to convert datatype from one to another
titanic['Survived']=titanic['survived'].astype('int64')
titanic.dtypes

survived          int64
pclass            int64
sex              object
age              object
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
Survived          int64
dtype: object

In [29]:
#always rename afterwards
t1.rename(columns={"age":"age in days"}, inplace=True)
t1.head()

,survived,pclass,sex,age in days,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Survived
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,1
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,1
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True,0
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False,1
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True,1

# **Data Normalization**

In [30]:
titanic.head()

,survived,pclass,sex,age in days,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Survived
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,1
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,1
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True,0
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False,1
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True,1

In [31]:
#simple feature scaling
t2['fare'] = t2['fare']/t2['fare'].max()
t2.head()

,survived,pclass,sex,age in days,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Survived
1,1,1,female,38.0,1,0,0.139136,C,First,woman,False,C,Cherbourg,yes,False,1
3,1,1,female,35.0,1,0,0.103644,S,First,woman,False,C,Southampton,yes,False,1
6,0,1,male,54.0,0,0,0.101229,S,First,man,True,E,Southampton,no,True,0
10,1,3,female,4.0,1,1,0.032596,S,Third,child,False,G,Southampton,yes,False,1
11,1,1,female,58.0,0,0,0.051822,S,First,woman,False,C,Southampton,yes,True,1

In [32]:
#min max method
t2['fare'] = (t2['fare']-t2['fare'].min())/(t2['fare'].max()-t2['fare'].min())
t2.head()

,survived,pclass,sex,age in days,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Survived
1,1,1,female,38.0,1,0,0.139136,C,First,woman,False,C,Cherbourg,yes,False,1
3,1,1,female,35.0,1,0,0.103644,S,First,woman,False,C,Southampton,yes,False,1
6,0,1,male,54.0,0,0,0.101229,S,First,man,True,E,Southampton,no,True,0
10,1,3,female,4.0,1,1,0.032596,S,Third,child,False,G,Southampton,yes,False,1
11,1,1,female,58.0,0,0,0.051822,S,First,woman,False,C,Southampton,yes,True,1

In [33]:
#simple feature scaling
t2['fare'] = t2['fare']/t2['fare'].max()
t2['age in days'] = t2['fare']/t2['fare'].max()
t2.head()

,survived,pclass,sex,age in days,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Survived
1,1,1,female,0.139136,1,0,0.139136,C,First,woman,False,C,Cherbourg,yes,False,1
3,1,1,female,0.103644,1,0,0.103644,S,First,woman,False,C,Southampton,yes,False,1
6,0,1,male,0.101229,0,0,0.101229,S,First,man,True,E,Southampton,no,True,0
10,1,3,female,0.032596,1,1,0.032596,S,Third,child,False,G,Southampton,yes,False,1
11,1,1,female,0.051822,0,0,0.051822,S,First,woman,False,C,Southampton,yes,True,1

In [34]:
#Z-score (standard score)
t2['fare'] = (t2['fare']-t2['fare'].mean()) / t2['fare'].std()
t2.head()

,survived,pclass,sex,age in days,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Survived
1,1,1,female,0.139136,1,0,-0.067879,C,First,woman,False,C,Cherbourg,yes,False,1
3,1,1,female,0.103644,1,0,-0.311883,S,First,woman,False,C,Southampton,yes,False,1
6,0,1,male,0.101229,0,0,-0.328489,S,First,man,True,E,Southampton,no,True,0
10,1,3,female,0.032596,1,1,-0.800339,S,Third,child,False,G,Southampton,yes,False,1
11,1,1,female,0.051822,0,0,-0.668161,S,First,woman,False,C,Southampton,yes,True,1

In [35]:
#log transformation
t2['fare'] = np.log(t2['fare'])
t2.head()

/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,survived,pclass,sex,age in days,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Survived
1,1,1,female,0.139136,1,0,NaN,C,First,woman,False,C,Cherbourg,yes,False,1
3,1,1,female,0.103644,1,0,NaN,S,First,woman,False,C,Southampton,yes,False,1
6,0,1,male,0.101229,0,0,NaN,S,First,man,True,E,Southampton,no,True,0
10,1,3,female,0.032596,1,1,NaN,S,Third,child,False,G,Southampton,yes,False,1
11,1,1,female,0.051822,0,0,NaN,S,First,woman,False,C,Southampton,yes,True,1