<a href="https://colab.research.google.com/github/Syeda-Eman/40-days-of-Python/blob/main/Day_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Case Study**

In [ ]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
#starting rows of the table
df.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
# saving dataframe into csv file
df.to_csv('titanic.csv')

In [ ]:
#basic statistics or summary
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
#dropping few columns and make a new dataset
titanic = df.drop(['deck','alone'],axis=1)
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no

In [ ]:
#another way doing the same thing
df.drop(['deck','alone'],axis=1).head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no

In [ ]:
titanic.value_counts                                                                     (['survived'])

survived
0           549
1           342
Name: count, dtype: int64

In [ ]:
titanic.value_counts(['survived'])

survived
0           549
1           342
Name: count, dtype: int64

In [ ]:
titanic[titanic['age'] < 18]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,Southampton,no
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,Cherbourg,yes
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,Southampton,yes
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,Southampton,no
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,Queenstown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
850,0,3,male,4.0,4,2,31.2750,S,Third,child,False,Southampton,no
852,0,3,female,9.0,1,1,15.2458,C,Third,child,False,Cherbourg,no
853,1,1,female,16.0,0,1,39.4000,S,First,woman,False,Southampton,yes
869,1,3,male,4.0,1,1,11.1333,S,Third,child,False,Southampton,yes
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,Cherbourg,yes

In [ ]:
titanic.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
embark_town      object
alive            object
dtype: object